---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Qr from '../components/Qr.jsx';
import "tailwindcss"

---

	<Layout title="Welcome to Astro.">
		<main class="bg-blue-200">
			<Qr />
		</main>
	</Layout>
